.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.label {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #08457e;
}

.input {
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid #08457e;
  color: #fff;
  background-color: #08457e;
  cursor: not-allowed;
  text-align: center;
}